.promotions {
	margin-bottom: 94px;
}
.promotions__item {
	background-image: url("./../../helpers/Promotion/new1.jpg");
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: flex-end;
	background-size: cover;
	background-repeat: no-repeat;
	height: 400px;
	padding: 50px 10px 30px;
	text-align: center;
	color: #fff;
	border-radius: 5px;
	font-weight: 600;

	
}

.promotions__content {
	display: flex;
	flex-direction: column;
	
}



.promotions__text {
	font-family: 'Montserrat',sans-serif;
	font-weight: 600;
	font-size: 18px;
	line-height: 122%;
	color: #000;
}
.promotions__subtitle {
	margin-bottom: 3px;
	font-weight: 600;
	font-size: 16px;
	line-height: 122%;
	color: #FFFFFF;
}



.promotions .swiper-wrapper {
	margin-bottom: 20px;
}


.swiper-pagination {
	position: static;
	text-align: end;
}

.swiper-pagination-bullet {
	display: inline-block;
	border-radius: 0;
	width: 12px;
	height: 12px;
	background: #FFFFFF;
	border: 1px solid #E5E5E5;
	opacity: 1;
	&-active {
		background-color: #E7426A;
	}
}