.header-top {
	position: relative;
	background-color: #F7EBE5;
	min-height: 48px;
	@media(max-width:991.98px) {
		
	}

	&__logo {
		display: none;
		@media (max-width: 991.98px) {
			display: block;
			width: 70px;
			height: 60px;
			img {
				object-fit: cover;
				width: 100%;
				height: 100%;
			}
		}
	}
}

.header-top__container {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.header-top  a {
	color: #000000c9;
	font-size: 14px;
	line-height: 121%;
	
}



/*Burger*/
.header-top__burger {
	display: none;
	@media (max-width: 991.98px) {
		display: block;
		position: relative; // поменяли на relative/absolute;
		top: 50%; // с 18 на 0
		left: 18px; // с 10 на 0
		width: 30px;
		height: 18px;
		cursor: pointer;
		z-index: 5;
		// transform: translateY(-50%);
		span {
			transition: all 0.3s ease 0s;
			top: calc(50% - 1px);
			left: 0px;
			position: absolute;
			width: 20px;
			height: 10%; // 2px
			background-color: #000000;
			&:first-child {
				top: 0px;
			}
			&:last-child {
				top: auto;
				bottom: 0px;
				width: 12px;
			}
		}
		&._active {
			span {
				transform: scale(0);
				&:first-child {
					transform: rotate(-45deg);
					top:calc(50% - 1px);
				}
				& ~ span{
					transform: rotate(45deg);
					bottom: calc(50% - 1px);
				}
				&:last-child {
					display: none;
				}
			}
		}
	}
}

/*Main menu*/
.menu {
	
	&__body {
		@media (max-width: 991.98px) {	
			position: fixed;
			// background-color: #F7EBE5;
			width: 100%;
			height: 100%;
			left: 0;
			top: 0;
			padding: 50px 0px 20px 0px;
			overflow: auto;
			opacity: 0;
			visibility: hidden;
			transition: all 0.3s ease 0s;
			&:after {
				content: "";
				background-color: #F7EBE5;
				//position: fixed;
				top: 0;
				left: 0;
				width: 100%;
				height: 100px; // по высоте шапки
				@media (max-width: 479.98px) {
					height: 60px;
				}
			}
			&._active {
				opacity: 1;
				visibility: visible;
			}
		}
	}
}

.menu__list {
	display: flex;
	
	@media (max-width: 991.98px) {
		display: block;
		text-align: center;
		justify-content: center;
		font-size: 14px;
		text-transform: uppercase;
		color: #2B1414;
		
		li {
			margin: 0px 19px 0px 19px;
			border-bottom: 1px solid rgba(0, 0, 0, 0.1);
			
		}
	}
}

.menu__link {
	display: inline-block;
	padding: 15px 14px 15px;
	@media (max-width: 1199.98px) {
		padding: 10px 14px 10px;
	}
	
}

/* Menu actions (socials, basket)*/
.header-top__actions {

}
.actions {
	display: flex;
	align-items: center;
	justify-content: space-between;
	flex: 1 1 100%;
	max-width: 476px;
	margin-left: 20px;
	@media (max-width: 991.98px) {

	}
	
}

.actions__phone {
	display: flex;
	align-items: center;
	justify-content: center;
	@media (max-width: 991.98px) {
		display: none;
	}
	
}
.actions__phone img {
	margin-right: 5px;
}

.actions__basket {
	display: flex;
	align-items: center;
	justify-content: center;
	@media (max-width: 991.98px) {
		span {
			display: none;
		}
	}
}
.actions__basket img {
	margin-right: 5px;
}


.basket  {
	
	position: relative;
	span {
		position: absolute;
		width: 13px;
		height: 13px;
		display: flex;
		justify-content: center;
		align-items: center;
		bottom: -3px;
		right: 0px;
		border-radius: 50%;
		color: #fff;
		background-color: #000;
		font-size: 10px;
		
	}
	
}


/*Socials*/

.socials {
	display: flex;
	align-items: center;
	@media (max-width: 991.98px) {
		display: none;
	}
}


.socials__items {
	
}

.socials__link:not(:last-child) {
	margin-right: 10px;
}

