.feature__item {
	flex: 0 0 50%;
	padding: 0 15px;
	margin: 0 0 25px;

	overflow: hidden;
	
	
}

.feature__bg {
	// position: absolute;
	// width: 100%;
	// height: 100%;
	// top: 0;
	// object-fit: cover;
	// max-width: 100%;
}

// .feature__bg_1 {
// 	// content: url("./bg/bg1.png");
// }

// .feature__bg_2 {
// 	content: url("./bg/bg2.png");
// }

// .feature__bg_3 {
// 	content: url("./bg/bg3.png");
// }

// .feature__bg_4 {
// 	content: url("./bg/bg4.png");
// }

// .feature__bg_5 {
// 	content: url("./bg/bg5.png");
// }

// .feature__bg_6 {
// 	content: url("./bg/bg6.png");
// }

.feature__content {
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 35px 53px;
	text-align: center;
	
}

.feature__icon {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100px;
	height: 100px;
	background-color: #fff;
	border-radius: 50%;
	margin: 0 0 20px;
	img {
		max-width: 100%;
		width: 60px;
		height: 60px;
	}
}

.feature__title {
	font-family: 'Montserrat', sans-serif;
	font-weight: 600;
	font-size: 20px;
	line-height: 122%;
	text-align: center;
	color: #292929;
	margin: 0 0 10px;
	&::after {
		content: url("./../../img/icons/arrow-right.svg");
		margin-left: 13px;
	}
}

.feature__text {
	font-weight: 400;
	font-size: 16px;
	line-height: 122%;
	text-align: center;
	color: #292929;
}

