.products {
	margin: 0px 0px 85px 0px;
	@media (max-width: 767.98px) {
		margin: 0px 0px 60px 0px;
	}
}
.products__container {
	display: flex;
	flex-direction: column;
}

.products__row {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	margin: 0 -10px;
	@media(max-width: 767.98px) {
		margin: 0 -8px;
	}
}
.products__btn {
	cursor: pointer;
	display: inline-block;
	padding: 18px 48px;
	border: 1px solid #4E9DD3;
	border-radius: 3px;
	font-family: 'Montserrat', sans-serif;
	font-weight: 600;
	font-size: 14px;
	line-height: 122%;
	text-align: center;
	color: #000000;
	margin: 24px auto 0 auto;
	@media(max-width: 767.98px) {
		padding: 14px 28px;
		font-size: 12px;
	}
}